* {
	margin: 0;
	padding: 0;
}
a {
	color: #963;
}
a:hover {
	color: #C60;
}
body {
	background: #655A46 url(img/bg.gif);
	color: #543;
	font: normal 62.5% "Lucida Sans Unicode",sans-serif;
}
input {
	color: #555;
	font: normal 1.1em "Lucida Sans Unicode",sans-serif;
}
img {
    border: 0;
}
p,cite,code,ul {
	font-size: 1.2em;
	padding-bottom: 1.2em;
    padding-right: 40px;
}
ul {
    margin-left: 20px;

}   
code {
	background: #FFE;
	border: 1px solid #EED;
	border-left: 6px solid #938262;
	color: #554;
	display: block;
	font: normal 1.1em "Lucida Sans Unicode",serif;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}
blockquote {
	background: url(img/quote.gif) no-repeat;
	color: #666;
	display: block;
	font: normal 1.3em "Lucida Sans Unicode",serif;
	padding-left: 28px;
}
h1,h2,h3 {
	color: #654;
	padding-top: 6px;
}

h1 {
	font-size: 1.4em;
	margin-bottom: 4px;
}
/* misc */
.clearer {
	clear: both;
}

/* structure */
.container {
	background: url(img/bgcontainer.gif) repeat-y;
	margin: 0 auto;
	width: 780px;
}

/* header */
.header {
	background: url(img/bgheader.gif) repeat-x;
	height: 140px;
	margin: 0 auto;
	width: 761px;
}

/* title */
.title {
	padding: 0px;
}
.title h1 {
	color: #E4DBCF;
	font: normal 2.3em "Lucida Sans Unicode","Trebuchet MS",sans-serif;
	margin-top: 1px;
    height: 130px;
    vertical-align: middle;
    display: inline-block;
	float: none;
    width: 470px;
}

.title .argument-meta {
	color: #E4DBCF;
	float: right;
    
    background-color: white;
    height: 30px;
    padding: 10px;
    color: black;
    
    position: relative;
    top: 50px;
    left: 0px;
}

.vote {
	font-size: 2em;
	padding: 32px 20px;
	
	text-align:center;
	vertical-align:middle;
	float: left;
}

#upvote-link {
	display: block;
}

#downvote-link {
	display: block;
}

.vote-count {
	display: block;
	color: #E4DBCF;
}


/* navigation */
.navigation {
	background: #FFF url(img/bgnavigation.gif) repeat-x;
	font: bold 1.2em Verdana,sans-serif;
	height: 44px;
	margin: 0 auto;
	padding: 0 18px;
	width: 725px;
}
.navigation a {
	color: #543;
	text-decoration: none;
	padding: 3px 4px;
	margin-right: 12px;
	line-height: 44px;
}
.navigation a:hover {
	background: #CEBDA1;
	color: #420;
}

/* main */
.main {
	clear: both;
	padding: 0 28px 12px 28px;
}

/* footer */
.footer {
	background: #958463 url(img/bgfooter.gif) repeat-x;
	color: #FED;
	font-size: 1.1em;
	line-height: 39px;
	margin: 0 auto;
	text-align: center;
	width: 760px;
}
.footer a {
	color: #FFD;
	text-decoration: underline;
}
.footer a:hover {
	color: #FFF;
	text-decoration: underline;
}

div.argument {
	font-size: 1.5em;
	
	border: 1px dashed black;
	
	padding: 10px;
	margin-bottom: 20px;
}

.left-panel {
	padding-top: 12px;
	float: left;
	width: 48%;
}

.right-panel {
	float: right;
	width: 48%;
	padding-top: 12px;
}


.content {
	padding-top: 12px;
	float: left;
	width: 40%;
}

.main input {
    float: right;
    margin: 0;
}

.sidenav {
	float: right;
	width: 50%;
	padding-top: 12px;
    
}

.new-argument {
    width: 205px;
    height: 100px;
}  

.left-panel .new-argument {
    width: 260px;
}

.right-panel .new-argument {
    width: 260px;
}

.argument-meta {
	position: relative;
    right: 10px;
    top: 10px;
    
    text-align: right;
}

.argument-author {
}

a.argument-author  {
    text-decoration: none;
    line-height: 32px;
}

img.gravatar {
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

img.gravatar-big {
    width: 80px;
    height: 80px;
    margin-right: 5px;
}

.error {
    border: 2px dashed red;
    padding: 5px;
    color: red;
    margin: 15px 0px;
    width: 250px;
}

.openid-identifier {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url('img/openid-large.png') no-repeat scroll left center;
    height:22px;
    line-height:22px;
    padding-left:32px;
}

input {
    margin:5px 0;
    padding:3px;
    
}

input, select, button {
    border:1px solid #999999;
    font-family:Trebuchet MS,Helvetica,sans-serif;
    font-size:20px;
}
