<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta name="description" content="description"/>
<meta name="keywords" content="keywords"/> 
<meta name="author" content="author"/> 
<link rel="stylesheet" type="text/css" href="default.css" media="screen"/>
<title>the Truth (tm)</title>
</head>

<body>

<div class="container">
	<div class="navigation">
			<a href="index.html">Vestibulum</a>
			<a href="index.html">Suspendisse</a>
			<a href="index.html">Elemen</a>
			<a href="index.html">Maecenas</a>
			<a href="index.html">Sodales</a>
			<div class="clearer"><span></span></div>
		</div>

	<div class="header">
				
		<div class="title">
			<h1>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed</h1>
		</div>

	</div>


	<div class="main">		
		
		<div class="content">

			<h1>True</h1>
			<div class="argument">
				<div class="argument-text">
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
				</div>
			</div>
			<div class="argument">
				<div class="argument-text">
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
				</div>
			</div>
			<div class="argument">
				<div class="argument-text">
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
				</div>
			</div>
		</div>

		<div class="sidenav">

			<h1>False</h1>
			<div class="argument">
				<div class="argument-text">
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
				</div>
			</div>
			<div class="argument">
				<div class="argument-text">
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
				</div>
			</div>
			<div class="argument">
				<div class="argument-text">
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
				</div>
			</div>

			
		</div>

		<div class="clearer"><span></span></div>

	</div>

	<div class="footer">&copy; 2009 <a href="/">thetruth.gov</a>. Nothing but The Truth  (tm).</div>

</div>

</body>

</html>